mixin gallery__item(gallery__number)
    figure(class="gallery__item gallery__item--" + gallery__number)
        img.gallery__img(src="../../img/gal-" + gallery__number + ".jpeg", alt="Gallery image")