mixin realtors__item(realtors__img,realtors__details,realtors__sold)
    img.realtors__img(src= realtors__img, alt="Realtor")
    .realtors__details
        h4.heading-4.heading-4--light= realtors__details
        p.realtors__sold= realtors__sold